/*  
logo                  #000000
logo                  #2196F3
active page           #2196F3
nav text              #212121
h1                    #ffffff
h2,h3                 #212121
P                     #757575

background:
nav                   #FFFFFF
header                #2F303A 
Our rules for succes  #F5F5F5
Development           #F5F5F5
Our Team              #F5F4FA

footer                #2F303A
portfolio             #F5F5F5

*/
:root {
  /* General colors */
  --general-black: #000000;
  --general-wight: #ffffff;
  /* Text color */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  /* Background color */
  --background-color: #f5f5f5;
  --hero-background: #c4c4c4;
  --section-bgr: #f5f4fa;
  --hero-bgr-color: #2f303a;
  --btn-background: #f5f4fa;
  --btn-hover-color: #188ce8;
  --frame-color: #eeeeee;
  --secondary-frame-color: #ececec;
  --svg-gray: #afb1b8;
}

body {
  min-width: 1600px;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
}

ul {
  /* list-style: none; */
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  list-style: none;
  transition-property: color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
  transform: color;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid orange; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons styles */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  text-align: center;
}
.btn:hover, .btn:focus {
  color: var(--general-wight);
  background-color: var(--accent-color);
  transform: color, background-color;
}

.hero .btn {
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--general-wight);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
}

.filters-list .btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--general-black);
  background-color: var(--btn-background);
  border-color: transparent;
  border-radius: 4px;
  transition-property: background-color, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list .btn:hover,
.filters-list .btn:focus {
  color: var(--general-wight);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list .btn-all {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 25px;
  padding-right: 25px;
}

.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--general-wight);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.modal-title {
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--general-wight);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--general-black);
}
.button-modal-close:focus, .button-modal-close:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* //------------------------------------------------------------- */
.input-field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid black; */
}

.input-text {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary-text-color);
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: outline, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-name {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 4px;
  transform: translateY(-100%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.input-icon {
  display: block;
  margin-left: 12px;
  margin-right: 12px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition-property: fill, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-feetback {
  resize: none;
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: outline, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text:hover,
.input-text:focus,
.input-feetback:hover,
.input-feetback:focus {
  transform: outline;
  outline: 1px solid var(--accent-color);
}

.input-text:hover + .input-icon {
  transform: fill;
  fill: var(--accent-color);
}

.input-field:focus-within > .input-icon {
  fill: var(--accent-color);
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--general-wight);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-submit:hover, .button-submit:focus {
  transform: background-color;
  background-color: var(--btn-hover-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.checkbox-link {
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
}
.checkbox-link::after {
  display: inline-flex;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 2px;
  bottom: 0px;
  left: 0;
  background-color: var(--accent-color);
  position: absolute;
}
.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.checkbox-icon:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/checkbox.svg);
  fill: var(--accent-color);
  background-size: contain;
  background-origin: content-box;
}

.header {
  background-color: var(--general-wight);
  border-bottom: 1px solid var(--secondary-frame-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.link-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.header .link-logo {
  color: var(--general-black);
}

.logo-web {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.link-logo:hover,
.link-logo:focus {
  color: var(--accent-color);
}

.header-nav {
  display: flex;
  margin-right: auto;
  height: 100%;
}

.header-list-text .current {
  color: var(--accent-color);
  width: 100%;
  height: 100%;
  position: relative;
}

.current::after {
  display: inline-flex;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  background-color: #2196f3;
  position: absolute;
}

.header-list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.header-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contact {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.header-list a {
  color: var(--primary-text-color);
}

.header-contact-text a {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  transition-property: fill, color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-text .contact-mail:hover,
.header-contact-text .contact-mail:focus,
.header-contact-text .contact-tel:hover,
.header-contact-text .contact-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transform: fill, color;
}

.contact-mail,
.contact-tel {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-icon {
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-background {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--general-wight);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
}

.rules {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--general-wight);
}
.rules-list__text {
  display: inline-flex;
  flex-direction: column;
}
.rules-list__text::before {
  margin-bottom: 30px;
  content: "";
  width: 270px;
  height: 130px;
  background-color: var(--section-bgr);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70px 70px;
  border-radius: 4px;
}
.rules-list__text:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.rules-list__text:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}
.rules-list__text:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.rules-list__text:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}
.rules-list {
  display: flex;
  gap: 30px;
}
.rules-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
}
.rules-list__item {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7142857143;
}

.development {
  /* padding-top: 94px; */
  padding-bottom: 94px;
  background-color: var(--general-wight);
}
.development-title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}
.development-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.development-list__text {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.development-list__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--general-wight);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-bgr);
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.team-list-item {
  background-color: var(--general-wight);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item img {
  display: block;
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}
.team-list-text {
  margin-top: 10px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.1875;
}
.team-list-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* _________________Team soc_______________ */
.soc__list {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc__text {
  width: 44px;
  height: 44px;
}

.soc__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--accent-color);
  transform: background-color;
}

.soc__icon {
  fill: var(--svg-gray);
  transition-property: fill, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* _________________Customers_______________ */
.customers {
  background-color: var(--general-wight);
}

.customers__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.labels {
  display: flex;
  gap: 30px;
}

.labels__item {
  width: 172px;
  height: 92px;
}
.labels__item:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transform: fill;
}

.labels__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--svg-gray);
  transition-property: fill, border-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.labels__link:hover, .labels__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transform: fill;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bgr-color);
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .link-logo {
  padding-bottom: 20px;
  color: var(--general-wight);
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  color: var(--general-wight);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.footer [href*="https:"] {
  color: var(--general-wight);
}
.footer [href*=mailto],
.footer [href*=tel] {
  color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.footer-soc {
  margin-left: 70px;
}
.footer-soc-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--general-wight);
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-soc-text {
  width: 44px;
  height: 44px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
  transform: background-color;
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: var(--general-wight);
  /* transform: ; */
}
.footer-soc-icon {
  fill: var(--general-wight);
}

.subscribe {
  margin-left: auto;
}
.subscribe-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--general-wight);
}
.subscribe-input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.subscribe-input-text {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--hero-bgr-color);
  outline: none;
}
.subscribe-icon {
  margin-left: 10px;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  position: absolute;
  fill: var(--general-wight);
}
.subscribe-qwert {
  position: relative;
}

.footer-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 28px;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--general-wight);
  background-color: var(--accent-color);
  border-radius: 4px;
  border-style: none;
}

.example {
  padding-top: 92px;
  padding-bottom: 96px;
  background-color: var(--general-wight);
}
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: left;
  margin-top: 50px;
}
.example-list-item {
  display: block;
  box-sizing: border-box;
  width: 370px;
}
.example-list-item:hover .example-hidden-text {
  transform: translateY(0%);
}
.example-link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.example-link:hover, .example-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: box-shadow;
}
.example-hidden {
  position: relative;
  overflow: hidden;
}
.example-hidden-text {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--general-wight);
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.example-item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid var(--frame-color);
  border-bottom: 1px solid var(--frame-color);
  border-left: 1px solid var(--frame-color);
}
.example-title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6666666667;
  letter-spacing: 0.03em;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}/*# sourceMappingURL=main.css.map */